@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.align {
    font-family: Oswald;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: #aeaeae;
    padding: 10px;
}